{% extends 'base.html' %}
{% block header %}
<h1> {%block title%}{% endblock%} </h1>
<!-- <script>
  var btnTop =document.getElementById(btnTop)
 
  function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script> -->

{% endblock%}
{% block content%}


{% set person =p  %}

<form class="form-inline" method="POST" >
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <!--ข้อมูลส่วนตัว-->
                
                <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                          <div class="col-sm-12">
                              <div class="panel panel-default text-left">
                              <div class="panel-body bg-primary ">
                              <label for="name">ชื่อ: </label><input type="text" class="form-control" name="fname" id="fname" value="{{person.fname}}" placeholder="ป้อนชื่อ" required>
                              <label for="name">นามสกุล: </label><input type="text" class="form-control" name="sname" id="sname" value="{{person.sname}}" placeholder="ป้อนนามสกุล" required>
                              
                              <!-- <label for="name">เพศ: </label><input type="text" class="form-control " id="sex"  value="{{person.sexinfo()}}"  placeholder="เพศ"><br><p></p> -->
                              <label for="sex">เพศ:</label>
                              <select class="form-control" id="sex" name="sex" required>
                              <option value="0" {%if person.sex == 0 %}selected{%endif%} >ไม่ระบุ</option>
                              <option value="1" {% if person.sex == 1 %} selected {%endif%}>ชาย</option>
                              <option value="2" {%if person.sex == 2 %}selected {%endif%}>หญิง</option>
                               </select> 
                              <br><p></p> 

                                 <label for="name">วดป(เกิด): </label><input type="date" class="form-control" name="birthday" id="birthday" value="{{person.birthday}}" placeholder="วันเดือนปี เช่น 04/11/2510 " required>
                              
                              <label for="name">เลขบัตรประชาชน</label>: </label><input type="text" class="form-control"name="idCard" id="idCard" value="{{person.idCard}}" placeholder="เลขบัตรประชาชน " required>
                              <br><p></p>
                              <label for="name">หมายเลขโทรศัพท์: </label><input type="text" class="form-control" name="phoneNumber" id="phoneNumber" value="{{person.phoneNumber}}" placeholder="หมายเลขโทรศัพท์ " required>
                              <label for="name">E-mail: </label><input type="email" class="form-control" name="email" id="email" value="{{person.email}}" placeholder="อีเมล์ " required>
                              <label for="name">สัญชาติ: </label><input type="text" class="form-control" name="nation" id="nation" value="{{person.nation}}" placeholder="สัญชาติ " required>
                              <br><p></p>
                              <label for="name">เชื้อชาติ: </label><input type="text" class="form-control" name="race" id="race" value="{{person.race}}" placeholder=" เชื้อชาติ " required>
                              </div> 
                            </div>
                            </div>
                      </div>
                     
                    </div>
                  </div> 
               <!--วัน เดือน ปี -->
               <div class="row ">
                <div class="col-sm-12 ">
                  <div class="panel panel-default text-left">
                    <div class="panel-body  alert-success fade in ">
                      <p contenteditable="true">ประวัติการตรวจพบมะเร็งของตนเองและญาติ(หมายเหตุ เลือกมะเร็งที่ตรวจพบจริง เลือกได้มากกว่า 1 ช่อง และอาจระบุอายุ
                          ที่ตรวจพบมะเร็ง) *** หมายเหตุ มะเร็งที่พบขอเป็นมะเร็งที่ถ่ายทอดทางพันธุกรรมตามที่เลือก </p>
                          
                    </div>
                  </div>
                </div>
              </div>
              <!-- title-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="well">  
                    <div class="col-sx-6">ประวัติการตรวจมะเร็ง</div>
                  <div class="radio">
                   <label> 
                       <input type="radio" name="optionhistoryCA" id="opntionhistoryCA1" value="0" {%if ph.historyCa==0 %}checked{%endif%} >ไม่พบ
                   </label>
                   <label  >
                    <input type="radio" name="optionhistoryCA" id="opntionhistoryCA2" value="1" {%if ph.historyCa==1 %}checked{%endif%} >พบ
                </label>
                  </div>
                  
                    </div>
                </div>
                <div class="col-sm-6">         
                  <div class="well text-left">
                   
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" id="breatCheck" name="breastCheck" value="1" {%if ph.breastCheck==1 %}checked{%endif%}>
                          มะเร็งเต้านมอายุ<input type="number" class="form-control" maxlength="2" name="bCAyear" id="bCAyear" value= {{ph.bCAyear}}> ปี
                        </label>
                        <label>
                          <input type="checkbox" id="bothbeastCheck" name="bothbeastCheck" value="1" {%if ph.bothbeastCheck==1 %}checked{%endif%} >ตรวจพบมะเร็งเต้านมสองข้าง
                              <input type="number" class="form-control" id="2breast" disabled >ปี 
                        </label>      
                        <label>
                          <input type="checkbox"  id ="bovalCheck" name="bovalCheck" value="1" {%if ph.bovalCheck==1 %}checked{%endif%}>
                          มะเร็งรังไข่อายุ <input type="number" class="form-control" id="bovalyear" name="bovalyear" value={{ph.bovalyear}} >ปี
                        </label>
                        <label>
                          <input type="checkbox" id="bgutCheck" name="bgutCheck" value="1" {%if ph.bgutCheck==1 %}checked{%endif%}>
                          มะเร็งลำไส้ <input type="number" class="form-control" id="bgutyear" name="bgutyear" value={{ph.bgutyear}}>ปี
                        </label>
                        <label>
                          <input type="checkbox" id="liverCheck" name="liverCheck"value="1" {%if ph.liverCheck==1 %}checked{%endif%}>
                          มะเร็งตับอ่อนอายุ  <input type="number" class="form-control" id="bliveryear" name="bliveryear" value={{ph.liveryear}} >ปี
                        </label>
                        <label>
                          <input type="checkbox" id ="postGrandCheck" name="postGrandCheck" value="1"{%if ph.postGrandCheck==1 %}checked{%endif%}>
                          มะเร็งต่อมลูกหมาก <input type="number" class="form-control" id="bpostGrandyear" name="bpostyear" value={{ph.postGrandyear}} >ปี
                        </label>
                        <label>
                          <input type="checkbox" id="skinCheck" name="skinCheck" value="1" {%if ph.skinCheck==1 %}checked{%endif%}>
                          มะเร็งผิวหนัง <input type="number" class="form-control" id="bskinyear" name="bskinyear" value={{ph.skinyear}}>ปี
                        </label>
                    </div>
        
                 
                  </div>
                </div>
                <!--จบประวัติตัวเอง -->          
              </div>
              <!-- จบประวัติตนเอง-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="well">  
                    <div class="col-sx-6">ประวัติการตรวจพบมะเร็งในบุตร</div>
                  <div class="radio">
                  <label> 
                      <input type="radio" name="optionhistoryson" id="opntionhistoryson1" value="0">ไม่พบ
                  </label>
                  <label  >
                    <input type="radio" name="optionhistoryson" id="opntionhistoryson2" value="1">พบ
                </label>
                  </div>
                
                </div>
                
        
                </div> 
                <div class="col-sm-6">         
                  <div class="well text-left">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="sonbreastcheck" value="1">
                          มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" name="sonbreatyear" id="sonbreastyear" varlue="" >ปี
                        </label>
                        <label>
                          <input type="checkbox" name="sonliverCheck" value="1">
                          มะเร็งตับอ่อนอายุ <input type="number" class="form-control" name="sonliveryear" id="sonliveryear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox"  name = "songutCheck" value="1">
                          มะเร็งลำไส้อายุ <input type="number" class="form-control" name ="songutyear" id="songutyear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name ="sonpostGrandCheck" value="1">
                          มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" name ="sonpostGrandrYear" id="sonpostGrandYear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name ="sonskinCheck" value="1">
                          มะเร็งผิวหนัง <input type="number" class="form-control" name = "sonskinyear"  id="sonskinyear" value ="">ปี
                        </label>
                    </div>
                </div>
                </div>
        
              </div>
              <!--จบประวัติลูกชาย-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="well">  
                    <div class="col-sx-6">ประวัติการตรวจพบมะเร็งในบุตรี</div> 
                  <div class="radio">
                  <label> 
                      <input type="radio" name="optionhistorydaughter" id="opntionhistorydaughter1" value="0">ไม่พบ
                  </label>
                  <label  >
                    <input type="radio" name="optionhistorydaughter" id="opntionhistorydaughter2" value="1">พบ
                </label>
                  </div>
                
                </div>
                
        
                </div> 
                <div class="col-sm-6">         
                  <div class="well text-left">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="daughterbreastCheck" value="1">
                          มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" name="daughterbreastyear"  id="daughterbreastyear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name="daughterliverCheck"  value="1">
                          มะเร็งตับอ่อนอายุ <input type="number" class="form-control" name="daughterliveryear"  id="daughterliveryear"value ="" >ปี
                        </label>
                        <label>
                          <input type="checkbox" name="daughtergutcheck"  value="1">
                          มะเร็งลำไส้อายุ <input type="number" class="form-control" name="daughtergutyear"  id="daughtergutyear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name ="daughterpostGrandCheck"  value="1">
                          มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" name="daughterpostGrandyear"  id="daughterpostGrandyear">ปี
                        </label>
                        <label>
                          <input type="checkbox" name="daughterskinChek"  value="1">
                          มะเร็งผิวหนัง <input type="number" class="form-control" name="daughterskinyear" id="daughterskinyear">ปี
                        </label>
                        
                    </div>
                </div>
                </div>
        
              </div>
              <!--จบประวัติบุตรี-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="well">  
                    <div class="col-sx-6">ประวัติการตรวจพบมะเร็งในพ่อ</div>  
                  <div class="radio">
                  <label> 
                      <input type="radio" name="optionhistoryfather" id="opntionhistoryfather1" value="0">ไม่พบ
                  </label>
                  <label  >
                    <input type="radio" name="optionhistoryfather" id="opntionhistoryfather2" value="1">พบ
                </label>
                  </div>
                
                </div>
                
        
                </div> 
                <div class="col-sm-6">         
                  <div class="well text-left">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="fatherbreatCheck" value="">
                          มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" name="fatherbreastyear" id="bfatherCA" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name="fatherliverCheck"  value="1">
                          มะเร็งตับอ่อนอายุ <input type="number" class="form-control" name="fatherliveryear" id="fatherliveryear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name="fathergutCheck" value="">
                          มะเร็งลำไส้อายุ <input type="number" class="form-control" name="fathergutyear" id="fathergutyear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name="fatherpostGrandCheck"  value="1">
                          มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" name="fartherpostGrandyear" id="fartherpostGrandyear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name="fatherskinCheck" value="1">
                          มะเร็งผิวหนัง <input type="number" class="form-control" name="fatherskinyear" id="fatherskinyear" value="">ปี
                        </label>
                    </div>
                </div>
                </div>
        
              </div>
              <!--จบประวัติพ่อ-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="well">  
                    <div class="col-sx-6">ประวัติการตรวจพบมะเร็งในแม่</div>  
                  <div class="radio">
                  <label> 
                      <input type="radio" name="optionhistorymother" id="opntionhistorymother1" value="0">ไม่พบ
                  </label>
                  <label  >
                    <input type="radio" name="optionhistorymother" id="opntionhistorymother2" value="1">พบ
                </label>
                  </div>
                
                </div>
                
          
                </div> 
                <div class="col-sm-6">         
                  <div class="well text-left">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="motherbreastCheck" value="1">
                          มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" name="motherbreatyear" id="motherbreatyear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name="motherliverCheck" value="1">
                          มะเร็งตับอ่อนอายุ <input type="number" class="form-control" name="motherliveryear" id="motherliveryear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox"  name="mothergutCheck" value="1">
                          มะเร็งลำไส้อายุ <input type="number" class="form-control" name="mothergutyear" id="mothergutCheck" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name="motherpostGrandCheck" value="1">
                          มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" name="motherpostGrandyear" id="motherpostGrandyear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name="motherskinCheck" value="1">
                          มะเร็งผิวหนัง <input type="number" class="form-control" name="motherskinyear" id="motherskinyear" value="" > ปี
                        </label>
                    </div>
                </div>
                </div>
          
              </div>
               <!--จบประวัติแม่-->
               <div class="row">
                <div class="col-sm-6">
                  <div class="well">  
                  <div class="col-sx-6">ประวัติการตรวจพบมะเร็งใน พี่/น้อง(ชาย)</div>
                  <div class="radio">
                  <label> 
                      <input type="radio" name="optionhistorylbrother" id="opntionhistorylbrother1" value="0">ไม่พบ
                  </label>
                  <label  >
                    <input type="radio" name="optionhistorylbrother" id="opntionhistorylbrother2" value="1">พบ
                </label>
                  </div>
                
                </div>
                
          
                </div> 
                <div class="col-sm-6">         
                  <div class="well text-left">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="brotherbreastCheck" value="1">
                          มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" name="brotherbreastyear" id="brotherbreastyear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name="brotherliverCheck" value="1">
                          มะเร็งตับอ่อนอายุ <input type="number" class="form-control" name="brotherliveryear" id="brotherliveryear" value="" >ปี
                        </label>
                        <label>
                          <input type="checkbox" name="brothergutCheck" value="1">
                          มะเร็งลำไส้อายุ <input type="number" class="form-control" name="brothergutyear" id="brothergutyear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name="broherpostGrandCheck" value="1">
                          มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" name="brotherpostGrandyear" id="brotherpostGrandyear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name="brotherskinCheck" value="1">
                          มะเร็งผิวหนัง <input type="number" class="form-control" name="brotherskinyear" id="brotherskinyear" value="">ปี
                        </label>
                    </div>
                </div>
                </div>
          
              </div> 
              <!--จบประวัติพี่น้องชาย-->
              <div class="row">
                <div class="col-sm-6">
                  <div class="well">  
                    <div class="col-sx-6"> ประวัติการตรวจพบมะเร็งใน พี่/น้อง(หญิง)</div>  
                  <div class="radio">
                  <label>
                      <input type="radio" name="optionhistorylsisther" id="opntionhistorylsyster1" value="0">ไม่พบ
                  </label>
                  <label  >
                    <input type="radio" name="optionhistorylsisther" id="opntionhistorylsyster2" value="1">พบ
                </label>
                  </div>
                
                </div>
                
          
                </div> 
                <div class="col-sm-6">         
                  <div class="well text-left">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="sisterbreastCheck" value="1">
                          มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" name="sisterbreastyear" id="sisterbreastyear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name="sisterliverCheck" value="1">
                          มะเร็งตับอ่อนอายุ <input type="number" class="form-control" name="sisterliveryear" id="sisterliveryear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name="sistergutCheck" value="1">
                          มะเร็งลำไส้อายุ <input type="number" class="form-control" name="sistergutyear" id="sistergutyear" value="" >ปี
                        </label>
                        <label>
                          <input type="checkbox" name="sisterpostGrandCheck" value="1">
                          มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" name="sisterpostGrandyear" id="sisterpostGrandyear" value="">ปี
                        </label>
                        <label>
                          <input type="checkbox" name="sisterskinCheck" value="1">
                          มะเร็งผิวหนัง <input type="number" class="form-control" name="sisterskinyear" id="sisterskinyear" value="">ปี
                        </label>
                    </div>
                </div>
                </div>
          
              </div> 
             <!--จบประวัติน้องสาว-->
             <div class="row">
              <div class="col-sm-6">
                <div class="well">  
                  <div class="col-sx-6">ประวัติการตรวจพบมะเร็งใน ทวด(ชาย)</div>   
                <div class="radio">
                <label> 
                    <input type="radio" name="optionhistorygrandfather" id="opntionhistorygrandfather1" value="0">ไม่พบ
                </label>
                <label  >
                  <input type="radio" name="optionhistorygrandfather" id="opntionhistorygrandfather2" value="1">พบ
              </label>
                </div>
              
              </div>
              
        
              </div> 
              <div class="col-sm-6">         
                <div class="well text-left">
                  <div class="checkbox">
                      <label>
                        <input type="checkbox" name="mangrandFabreastCheck" value="1">
                        มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" name="mangrandFabreastyear" id="mangrandFabreastyear" value="">ปี
                      </label>
                      <label>
                        <input type="checkbox" name="mangrandFaliverCheck" value="1">
                        มะเร็งตับอ่อนอายุ <input type="number" class="form-control"  name ="mangrandFaliveryear" id="mangrandFaliveryear" value="" >ปี
                      </label>
                      <label>
                        <input type="checkbox" name="mangrandFagutCheck" value="1">
                        มะเร็งลำไส้อายุ <input type="number" class="form-control" name="mangrandFagutyear" id="mangrandFagutyear" value="">ปี
                      </label>
                      <label>
                        <input type="checkbox" name="mangrandFapostGrandCheck" value="1">
                        มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control"  name="mangrandFapostGrandyear" id="mangrandFapostGrandyear" value="">ปี
                      </label>
                      <label>
                        <input type="checkbox" name="mangrandFaskinCheck" value="1">
                        มะเร็งผิวหนัง <input type="number" class="form-control" name="mangrandFaskinyear" id="mangrandFaskinyear" value="">ปี
                      </label>
                  </div>
              </div>
              </div>
        
             </div>
             <!--จบประวัติทวดชาย-->   
             <div class="row">
              <div class="col-sm-6">
                <div class="well">  
                  <div class="col-sx-6">ประวัติการตรวจพบมะเร็งใน ทวด(หญิง)</div>  
                <div class="radio">
                <label> 
                    <input type="radio" name="optionhistorygrandmother" id="opntionhistorygrandmother1" value="ไม่">ไม่พบ
                </label>
                <label  >
                  <input type="radio" name="optionhistorygrandmother" id="opntionhistorygrandmother2" value="พบ">พบ
              </label>
                </div>
              
              </div>
              
        
              </div> 
              <div class="col-sm-6">         
                <div class="well text-left">
                  <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" id="bgrandmotherCA">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งตับอ่อนอายุ <input type="number" class="form-control" id="bovalgrandmother">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งลำไส้อายุ <input type="number" class="form-control" id="bgutgrandmother">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" id="blivergrandmother">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งผิวหนัง <input type="number" class="form-control" id="bskingrandmother">ปี
                      </label>
                  </div>
              </div>
              </div>
        
             </div>
             <!--จบประวัติทวดหญิง-->
             <div class="row">
              <div class="col-sm-6">
                <div class="well">  
                  <div class="col-sx-6">ประวัติการตรวจพบมะเร็งใน ปู่</div>  
                <div class="radio">
                <label> 
                    <input type="radio" name="optionhistoryfgrandfather" id="opntionhistoryfgrandfathe1" value="ไม่">ไม่พบ
                </label>
                <label  >
                  <input type="radio" name="optionhistoryfgrandfather" id="opntionhistoryfgrandfather2" value="พบ">พบ
              </label>
                </div>
              
              </div>
              
        
              </div> 
              <div class="col-sm-6">         
                <div class="well text-left">
                  <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" id="bfgrandfatherCA">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งตับอ่อนอายุ <input type="number" class="form-control" id="bovalfgrandfather">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งลำไส้อายุ <input type="number" class="form-control" id="bgutfgrandfather">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" id="bliverfgrandfather">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งผิวหนัง <input type="number" class="form-control" id="bskingrandfather">ปี
                      </label>
                  </div>
              </div>
              </div>
        
             </div>
            <!--จบประวัติปู่-->
            <div class="row">
              <div class="col-sm-6">
                <div class="well">  
                  <div class="col-sx-6">ประวัติการตรวจพบมะเร็งใน ย่า</div>  
                <div class="radio">
                <label> 
                    <input type="radio" name="optionhistorymgrandmather" id="opntionhistorymgrandmather1" value="ไม่">ไม่พบ
                </label>
                <label  >
                  <input type="radio" name="optionhistorymgrandmather" id="opntionhistorymgrandmather2" value="พบ">พบ
              </label>
                </div>
              
              </div>
              
        
              </div> 
              <div class="col-sm-6">         
                <div class="well text-left">
                  <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" id="bmgrandmatherCA">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งตับอ่อนอายุ <input type="number" class="form-control" id="bovalmgrandmather">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งลำไส้อายุ <input type="number" class="form-control" id="bgutmgrandmather">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" id="blivermgrandmather">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งผิวหนัง <input type="number" class="form-control" id="bskinmgranmather">ปี
                      </label>
                  </div>
              </div>
              </div>
        
             </div> 
            <!--จบประวัติย่า-->
            <div class="row">
              <div class="col-sm-6">
                <div class="well">  
                  <div class="col-sx-6"> ประวัติการตรวจพบมะเร็งใน ตา</div>
                <div class="radio">
                <label>
                    <input type="radio" name="optionhistoryfathermom" id="opntionhistoryfathermom1" value="ไม่">ไม่พบ
                </label>
                <label  >
                  <input type="radio" name="optionhistoryfathermom" id="opntionhistoryfathermom2" value="พบ">พบ
              </label>
                </div>
              
              </div>
              
        
              </div> 
              <div class="col-sm-6">         
                <div class="well text-left">
                  <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" id="bfathermomCA">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งตับอ่อนอายุ <input type="number" class="form-control" id="bovalfathermom">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งลำไส้อายุ <input type="number" class="form-control" id="bgutfathermom">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" id="bliverfathermom">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งผิวหนัง <input type="number" class="form-control" id="bskinfathermom">ปี
                      </label>
                  </div>
              </div>
              </div>
        
             </div> 
            <!--จบประวัติตา-->
            <div class="row">
              <div class="col-sm-6">
                <div class="well">  
                <div class="col-sx-6">ประวัติการตรวจพบมะเร็งใน ยาย</div>  
                <div class="radio">
                <label> 
                    <input type="radio" name="optionhistorymothermom" id="opntionhistorymothermom1" value="ไม่">ไม่พบ
                </label>
                <label  >
                  <input type="radio" name="optionhistorymothermom" id="opntionhistorymothermom2" value="พบ">พบ
              </label>
                </div>
              
              </div>
              
        
              </div> 
              <div class="col-sm-6">         
                <div class="well text-left">
                  <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" id="bmothermomCA">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งตับอ่อนอายุ <input type="number" class="form-control" id="bovalmothermom">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งลำไส้อายุ <input type="number" class="form-control" id="bgutmothermom">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" id="blivermothermom">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งผิวหนัง <input type="number" class="form-control" id="bskinmothermom">ปี
                      </label>
                  </div>
              </div>
              </div>
        
             </div>
            <!--จบประวัติยาย-->
            <div class="row">
              <div class="col-sm-6">
                <div class="well">  
                  <div class="col-sx-6">ประวัติการตรวจพบมะเร็งใน ลุง</div> 
                <div class="radio">
                <label> 
                    <input type="radio" name="optionhistorybiguncle" id="opntionhistorybiguncle1" value="ไม่">ไม่พบ
                </label>
                <label  >
                  <input type="radio" name="optionhistorybiguncle" id="opntionhistorybiguncle2" value="พบ">พบ
              </label>
                </div>
              
              </div>
              
        
              </div> 
              <div class="col-sm-6">         
                <div class="well text-left">
                  <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" id="bbiguncleCA">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งตับอ่อนอายุ <input type="number" class="form-control" id="bovalbiguncle">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งลำไส้อายุ <input type="number" class="form-control" id="bgutbiguncle">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" id="bliverbiguncle">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งผิวหนัง <input type="number" class="form-control" id="bskinbiguncle">ปี
                      </label>
                  </div>
              </div>
              </div>
        
             </div>
            <!--จบประวัติลุง-->
            <div class="row">
              <div class="col-sm-6">
                <div class="well">  
                <div class="col-sx-6">ประวัติการตรวจพบมะเร็งใน ป้า</div>  
                <div class="radio">
                <label> 
                    <input type="radio" name="optionhistorybigaunt" id="opntionhistorybigaunt1" value="ไม่">ไม่พบ
                </label>
                <label  >
                  <input type="radio" name="optionhistorybigaunt" id="opntionhistorybigaunt2" value="พบ">พบ
              </label>
                </div>
              
              </div>
              
        
              </div> 
              <div class="col-sm-6">         
                <div class="well text-left">
                  <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" id="bbigauntCA">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งตับอ่อนอายุ <input type="number" class="form-control" id="bovalbigaunt">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งลำไส้อายุ <input type="number" class="form-control" id="bgutbigaunt">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" id="bliverbigaunt">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งผิวหนัง <input type="number" class="form-control" id="bskinbigaunt">ปี
                      </label>
                  </div>
              </div>
              </div>
        
             </div>
            <!--จบประวัติป้า-->
            <div class="row">
              <div class="col-sm-6">
                <div class="well">  
                <div class="col-sx-6"> ประวัติการตรวจพบมะเร็งใน น้า</div>  
                <div class="radio">
                <label>
                    <input type="radio" name="optionhistorysmallaunt" id="opntionhistorysmallaunt1" value="ไม่">ไม่พบ
                </label>
                <label  >
                  <input type="radio" name="optionhistorysmallaunt" id="opntionhistorysmallaunt2" value="พบ">พบ
              </label>
                </div>
              
              </div>
              
        
              </div> 
              <div class="col-sm-6">         
                <div class="well text-left">
                  <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" id="bsmallauntCA">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งตับอ่อนอายุ <input type="number" class="form-control" id="bovalsmallaunt">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งลำไส้อายุ <input type="number" class="form-control" id="bgutsmallaunt">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" id="bliversmallaunt">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งผิวหนัง <input type="number" class="form-control" id="bskinsmallaunt">ปี
                      </label>
                  </div>
              </div>
              </div>
        
             </div> 
            <!--จบประวัติน้า-->
            <div class="row">
              <div class="col-sm-6">
                <div class="well">  
                  <div class="col-sx-6">ประวัติการตรวจพบมะเร็งใน อา</div>  
                <div class="radio">
                <label>
                    <input type="radio" name="optionhistorysmallbro" id="opntionhistorysmallbro1" value="ไม่">ไม่พบ
                </label>
                <label  >
                  <input type="radio" name="optionhistorysmallbro" id="opntionhistorysmallbro2" value="พบ">พบ
              </label>
                </div>
              
              </div>
              
        
              </div> 
              <div class="col-sm-6">         
                <div class="well text-left">
                  <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" id="bsmallbroCA">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งตับอ่อนอายุ <input type="number" class="form-control" id="bovalsmallbro">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งลำไส้อายุ <input type="number" class="form-control" id="bgutsmallbro">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" id="bliversmallbro">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งผิวหนัง <input type="number" class="form-control" id="bskinsmallbro">ปี
                      </label>
                  </div>
              </div>
              </div>
        
             </div>
            <!--จบประวัติอา--> 
            <div class="row">
              <div class="col-sm-6">
                <div class="well">  
                  <div class="col-sx-6">ประวัติการตรวจพบมะเร็งในหลาน(ชาย)</div>  
                <div class="radio">
                <label>
                    <input type="radio" name="optionhistorymengrandchild" id="opntionhistorymengrandchild1" value="ไม่">ไม่พบ
                </label>
                <label  >
                  <input type="radio" name="optionhistorymengrandchild" id="opntionhistorymengrandchild" value="พบ">พบ
              </label>
                </div>
              
              </div>
              
        
              </div> 
              <div class="col-sm-6">         
                <div class="well text-left">
                  <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" id="bmengrandchildCA">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งตับอ่อนอายุ <input type="number" class="form-control" id="bovalmengrandchild">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งลำไส้อายุ <input type="number" class="form-control" id="bgutmengrandchild">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" id="blivermengrandchild">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งผิวหนัง <input type="number" class="form-control" id="bskinmengrandchild">ปี
                      </label>
                  </div>
              </div>
              </div>
        
             </div>
            <!--จบประวัติหลานชาย-->
            <div class="row">
              <div class="col-sm-6">
                <div class="well">  
                <div class="radio">
                <label> ประวัติการตรวจพบมะเร็งในหลาน(หญิง)
                    <input type="radio" name="optionhistorywomengrandchild" id="opntionhistorywomengrandchild" value="ไม่">ไม่พบ
                </label>
                <label  >
                  <input type="radio" name="optionhistorywomengrandchild" id="opntionhistorywomengrandchild" value="พบ">พบ
              </label>
                </div>
              
              </div>
              
        
              </div> 
              <div class="col-sm-6">         
                <div class="well text-left">
                  <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" id="bwomengrandchildCA">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งตับอ่อนอายุ <input type="number" class="form-control" id="bovalwomengrandchild">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งลำไส้อายุ <input type="number" class="form-control" id="bgutwomengrandchild">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" id="bliverwomengrandchild">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งผิวหนัง <input type="number" class="form-control" id="bskinwomengrandchild">ปี
                      </label>
                  </div>
              </div>
              </div>
        
             </div>
            <!--จบประวัติหลานหญิง-->
            <div class="row">
              <div class="col-sm-6">
                <div class="well">  
                  <div class="col-sx-6">ประวัติการตรวจพบมะเร็งในเหลน(ชาย)</div>  
                <div class="radio">
                <label> 
                    <input type="radio" name="optionhistorythirdmengrandchild" id="opntionhistorythirdmengrandchild1" value="ไม่">ไม่พบ
                </label>
                <label  >
                  <input type="radio" name="optionhistorythirdmengrandchild" id="opntionhistorythirdmengrandchild2" value="พบ">พบ
              </label>
                </div>
              
              </div>
              
        
              </div> 
              <div class="col-sm-6">         
                <div class="well text-left">
                  <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" id="bthirdmengrandchildCA">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งตับอ่อนอายุ <input type="number" class="form-control" id="bovalthirdmengrandchild">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งลำไส้อายุ <input type="number" class="form-control" id="bgutthirdmengrandchild">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" id="bliverthirdmengrandchild">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งผิวหนัง <input type="number" class="form-control" id="bskinmengrandchild">ปี
                      </label>
                  </div>
              </div>
              </div>
        
             </div>
            <!--จบประวัติเหลน(ชาย)-->
            <div class="row">
              <div class="col-sm-6">
                <div class="well">  
                  <div class="col-sx-6">ประวัติการตรวจพบมะเร็งในเหลน(หญิง)</div>  
                <div class="radio">
                <label> 
                    <input type="radio" name="optionhistorythirdwomangrandchild" id="opntionhistorythirdwomangrandchild1" value="ไม่">ไม่พบ
                </label>
                <label  >
                  <input type="radio" name="optionhistorythirdwomangrandchild" id="opntionhistorythirdwomangrandchild2" value="พบ">พบ
              </label>
                </div>
              
              </div>
              
        
              </div> 
              <div class="col-sm-6">         
                <div class="well text-left">
                  <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งเต้านมอายุ <input type="number" class="form-control" maxlength="2" id="bthirdwomangrandchildCA">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งตับอ่อนอายุ <input type="number" class="form-control" id="bovalthirdwomangrandchild">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งลำไส้อายุ <input type="number" class="form-control" id="bgutthirdwomangrandchild">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งต่อมลูกหมากอายุ  <input type="number" class="form-control" id="bliverthirdwomangrandchild">ปี
                      </label>
                      <label>
                        <input type="checkbox" value="">
                        มะเร็งผิวหนัง <input type="number" class="form-control" id="bskinwomangrandchild">ปี
                      </label>
                  </div>
              </div>
              </div>
        
             </div>
        
            <!--จบประวัติเหลน(หญิง)-->
          </div>
                <!--end div main row-->
            <div class="col-sm-1">
          </div>
         </div>
         <button type="submit" class="btn btn-primary btn-lg btn-block">บันทึกผล</button>
        

            </div>
            <div class="col-sm-1"></div>
        
    </div>
</form>
<!-- <div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="col-sm-10"></div>
    
      <button class="btn btn-info" onclick="topFunction()" id="btnTop" title="ไปด้านบน">ไปด้านบน</button>
    
  </div>
  <div class="col-sm-1"></div>
</div> -->

{% endblock %}