<!doctype html>
<title>{% block title %}{% endblock %} สอบถามข้อมูล</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
<!--<nav>
  <h1>Flaskr</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <!-- <li><a href="#">Messages</a></li> -->
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group input-group">
            <input type="text" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>        
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {% if g.user %}
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> บัญชีคุณ : {{ g.user[1] }} </a></li>
         
          <!-- <li><span>{{ g.user[1] }}</span> -->
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
          {% else %}
           <li><a href="{{ url_for('auth.register') }}">ลงทะเบียน</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
          {% endif %}
          
          <!-- <li><a href="{{ url_for('auth.info') }}">ป้อนข้อมูล</a> -->
 
        </ul>
      </div>
    </div>
  </nav>
<!--<section > -->
  <header>
    {% block header %}{% endblock %}
  </header>
   {% for message in get_flashed_messages() %} 
   <div class=" alert alert-warning alert-dismissible" role='alert'>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ><span aria-hidden="true">x</span></button>
      
    {{ message }}

   </div> 
  {% endfor %}
  {% block content %}{% endblock %}
<!--/section> -->
<footer class="container-fluid text-center">
  <p>การตรวจมะเร็งพันธุกรรมเกี่ยวกับมะเร็งเต้านมและรังไข่</p>
  <p>โรงพยาบาลมะเร็งอุดรธานี</p>
</footer>
